<%= turbo_frame_tag "page_content" do %>
<h2 class="mb-5 text-muted">EDIT PROFILE</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo' => "false", method: :put, class: "d-flex flex-column justify-content-center"  }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="d-flex flex-row flex-wrap">
    <div class="field m-1" style="max-width: 40%;">
      <%= f.label :fullname %><br />
      <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname" %>
    </div>
    
    <div class="field m-1" style="max-width: 40%;">
      <%= f.label :birthday %><br />
      <%= f.date_field :birthday, autofocus: true, autocomplete: "birthday" %>
    </div>
  </div>

  <div class="field m-1" style="max-width: 40%;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field m-1" style="min-width: 100%;">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field m-1" style="min-width: 100%;">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field m-1" style="min-width: 100%;">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions ms-1 my-2" style="max-width: 40%;">
    <%= f.submit "Update", class: "btn bg-danger text-light" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div class="d-flex gap-2">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?", turbo_frame: "_top" }, method: :delete, class: "btn bg-danger text-light" %></div>

<%= link_to "Back", :back %>
<% end %>