<%= turbo_frame_tag 'page_content' do %>
  <main>
    <h1>The partyholic Miss/Mrs./Mr. <%= @user.fullname %></h1>
    <div>
      <h3>Events created</h3>
      <% @user.events.each do | event | %>
        <h4><%= event.name %></h4>
        <h4> at <%= event.location %></h4>
        <small> in <% event.date %></small>
      <h4><%= link_to 'See Event', event_path(event.id) %></h4>
      <% end %>
    </div>

    <div>
      <h3>Events Attending</h3>
      <div>
        <h4>Comming up Events</h4>
        <% @user.attended_events.future_attending_events.each do | event | %>
          <h4><%= event.name %></h4>
          <h4> by <%= event.creator.fullname %></h4>
          <h4> in  <%= event.location %></h4>
          <small> at <% event.date %></small>
          <h4><%= link_to 'See Event', event_path(event.id) %></h4>
        <% end %>
      </div>

      <div>
        <h4>Past Events</h4>
        <% @user.attended_events.past_attending_events.each do | event | %>
          <h4><%= event.name %></h4>
          <h4> by <%= event.creator.fullname %></h4>  
          <h4> in <%= event.location %></h4>
          <small> at <% event.date %></small>
          <h4><%= link_to 'See Event', event_path(event.id) %></h4>
        <% end %>
    </div>
    </div>
  </main>
<% end %>
