<%= turbo_frame_tag "attendances" do %>
  <% if logged_in_user.id != creator.id %>
      <%= render 'events/attend_button', attend: attend, unattending_users: unattending_users, event: event, logged_in_user: logged_in_user %>
  <% else %>
    <div>
      <%= render 'events/users_invited_or_to_invite', event: event, logged_in_user: logged_in_user, unattending_users: unattending_users %>
    </div>
  <% end %>

  <div class="d-flex flex-column justify-content-center align-items-center g-2">
    <h2>Attendances</h2>
    <ul class="d-flex flex-column justify-content-center align-items-center g-1">
      <li><%= creator.fullname %></li>
      <% if attendances.any? %>
        <% attendances.each do |attendance| %>
          <% if attendance.status != "canceled" && attendance.status != "rejected" %>
            <%= render 'events/attendees', event: event, logged_in_user: logged_in_user, attendance: attendance %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
