<%= turbo_frame_tag "page_content", class: "container mt-5" do %>
  <% if @events.empty?%>
    <h3>No events are held</h3>
  <% else %>
  <div class="d-flex justify-content-center flex-wrap">
    <% @events.each do | event | %>
     <div class="card border-secondary m-1" style="width: 15rem;">
      <div class="card-header"><%= event.name %></div>
        <div class="card-body text-secondary">
          <h5 class="card-title"><small>Its in </small><%= event.date %></h5>
          <h5 class="card-title"><small>Host is </small><%= event.creator.fullname %></h5>
          <%= link_to "Show event", event_path(event.id), data: { turbo_frame: 'page_content' }, class: "mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
<% end %>
