<h1>Events</h1>
<% if @events.empty?%>
  <h3>No events are held</h3>
<% else %>
  <% @events.each do | event | %>

    <h3><%= event.name %></h3>
    <h3><%= event.location %></h3>
    <h3><%= event.date %></h3>
    <h3><%= event.creator.fullname %></h3>
    <%= link_to "Show event", event_path(event.id) %>
    <br>
    <br>
  <% end %>
<% end %>
<br>
<div style="display: flex; flex-direction: row; gap: 1rem;">
  <% if current_user %>
    <%= link_to 'All My events', user_path(current_user.id) %>
  <% end %>
  <%= link_to 'All users', users_path %>
</div>
<br>
<br>
<%= link_to 'Add new Event', new_event_path %>