<%= turbo_frame_tag 'page_content', class: "d-flex flex-column justify-content-center" do %>
    <h2 class="mb-5 mt-auto text-muted">NEW EVENT</h2>
  <%= form_for @event, class: "d-flex flex-column justify-content-center", style: "align-self: center !important;" do |f| %>
    <div class="d-flex flex-row flex-wrap gap-2 m-2">
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>
    </div>

    <div class="m-2 my-3">
    <%= f.label :date, "Date & Time" %>
    <%= f.datetime_field :date %>
    </div>

    <div class="m-2">
      <%= f.label :public %>
      <%= f.check_box :public %>
    </div>

    <%= f.submit "Submit", disable_with: 'Submiting...', class: "btn bg-danger text-light m-2" %>
  <% end %>
<% end %>
