  <%= turbo_frame_tag 'page_content', class: "container", style: "align-self: center !important;" do %>
    <div class="card d-flex flex-row justify-content-between p-3 m-1"> 
      <div>
        <h2><strong><%= @event.name %> </strong> EVENT</h2>
        <h6> in <%= @event.location %></h6>
        <h6> AT <%= @event.date %></h6>
        <h6> by <%= @event.creator.fullname %></h6>
      </div>
      <% if current_user.id == @event.creator_id %>
        <div class="d-flex flex-column gap-1 justify-content-end">
          <%= link_to 'Edit the event', edit_event_path(@event.id), class: "btn border-rounded bg-success text-light" %>
          <%= button_to "Cancel the event", @event, method: :delete, data: { confirm: "Are you sure you want to cancel this event?!" }, remote: true, class: "btn border-rounded bg-danger text-light" %>
        </div>
      <% end %>
    </div> 
<%= turbo_stream_from @event, "#{current_user.id}-attendance" %>
<%= render 'events/attendances', attendances: @event.attendances, creator: @event.creator, event: @event, unattending_users: @unattending_users, attend: @attend, logged_in_user: current_user %>
<% end %>