<ul class="navbar d-flex justify-content-between list-unstyled">
  <% if user_signed_in? %>  
    <h6><%= current_user.fullname %></h6>
    <li class="nav-item dropdown">
      <a class="nav-link d-flex gap-2 bg-info dropdown-toggle" style="width:170px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <h6 class="text-light">Notifications</h6>
        <%= turbo_stream_from current_user, "notificationsCount" %>
        <%= render 'layouts/count', unread_count: @unread_count %>
      </a>
      <%= turbo_stream_from current_user, "notifications" %>
      <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
          <%= render partial: 'layouts/notifications', locals: { notifications: @notifications, unread_count: @unread_count, read_count:
@read_count  }%>
      </ul>
    </li>
      <li class="nav-item">
      <span><%= link_to "Edit profile", edit_user_registration_path, method: :get %></span>
      <span><%= button_to "sign out", destroy_user_session_path, method: :delete %></span>
    </li>
  <% else %>
    <%= link_to "Sign_in", new_user_session_path, method: :get %>
    <%= link_to "Register", new_user_registration_path, method: :get %>
  <% end %>
</ul>      