<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <h2><%= current_user.fullname %></h2>
      <%= button_to "sign out", destroy_user_session_path, method: :delete %>
      <%= link_to "Edit profile", edit_user_registration_path, method: :get %>
    <% elsif action_name == 'index' || action_name == 'show' %>
      <%= link_to "Sign_in", new_user_session_path, method: :get %>
      <%= link_to "Register", new_user_registration_path, method: :get %>
    <% end %>
    <%= render partial: 'layouts/notifications' %>
    <%= yield %>
  </body>
</html>
